.large-centered-form {
    max-width: 550px !important;
    min-width: 350px;
    margin: 48px auto !important;
    padding: 40px 36px !important;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.larger-bg {
    max-width: 550px !important;
    min-width: 400px;
    min-height: 450px;
    margin: 48px auto !important;
    padding: 56px 48px !important;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-grid .full {
    grid-column: 1 / -1;
}

.form-actions {
    justify-content: center;
    width: 100%;
}

